@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(112, 144, 190)
}

header {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: rgb(0, 0, 0);
}



#input-content input{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    margin: 10px;
}

#label-buscar {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}